body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }

  /* PALETA DE COLORES
  
  FONDO: gris oscuro = rgb(31, 31, 31);
  LETRA = blanco o negro
  PRINCIPAL: turquesa =  rgb(0, 96, 128); 
  ENFASIS: verde agua claro = rgb(204, 255, 230);
  ROJO = rgb(204, 0, 0);
  Rojo fuerte = 
  
  
  */

  